promon.com.br/rd/_comp/src/wsdl/ColaboradoresStart.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://promon.com.br/ColaboradoresStart/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ColaboradoresStart" targetNamespace="http://promon.com.br/ColaboradoresStart/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://promon.com.br/ColaboradoresStart/">
      <xsd:element name="StartColaboradores">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="dat_refer" type="xsd:date" minOccurs="0" />
         <xsd:element name="log_ativos" type="xsd:boolean" minOccurs="0" default="true" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="StartColaboradoresResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="StartColaboradoresRequest">
    <wsdl:part element="tns:StartColaboradores" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="StartColaboradoresResponse">
    <wsdl:part element="tns:StartColaboradoresResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="ColaboradoresStart">
    <wsdl:operation name="StartColaboradores">
      <wsdl:input message="tns:StartColaboradoresRequest"/>
      <!-- <wsdl:output message="tns:StartColaboradoresResponse"/>-->
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ColaboradoresStartSOAP" type="tns:ColaboradoresStart">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="StartColaboradores">
      <soap:operation soapAction="http://promon.com.br/ColaboradoresStart/StartColaboradores"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <!--<wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>-->
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ColaboradoresStart">
    <wsdl:port binding="tns:ColaboradoresStartSOAP" name="ColaboradoresStartSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>