promon.com.br/rd/_comp/src/wsdl/DO_Funcionarios.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:tns="http://promon.com.br/rd/fundacao/funcionarios" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://promon.com.br/rd/fundacao/funcionarios">  
	<xsd:complexType name="FuncionariosContext">
		<xsd:sequence>
			<xsd:element name="UsuarioWS" type="xsd:string"/>
			<xsd:element name="SenhaWS" type="xsd:string"/>
			<xsd:element name="Funcionarios" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
