promon.com.br/rd/_comp/src/wsdl/DO_HistSituacao.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://promon.com.br/FundacaoEnviarHistSituacao" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://promon.com.br/FundacaoEnviarHistSituacao">
  <xsd:complexType name="FPPSServicoEnviarHistSituacao">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="UsuarioWS" type="xsd:string"/>
      <xsd:element minOccurs="0" name="SenhaWS" type="xsd:string"/>
      <xsd:element minOccurs="0" name="dadosFuncionariosCSV" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
