promon.com.br/rd/_comp/src/wsdl/EscalasStart.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://promon.com.br/EscalasStart/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EscalasStart" targetNamespace="http://promon.com.br/EscalasStart/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://promon.com.br/EscalasStart/">
			<xsd:element name="StartEscalas">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mes" type="xsd:int"/>
						<xsd:element name="ano" type="xsd:int"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="StartEscalasResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="StartEscalasRequest">
		<wsdl:part element="tns:StartEscalas" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="StartEscalasResponse">
		<wsdl:part element="tns:StartEscalasResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:portType name="EscalasStart">
		<wsdl:operation name="StartEscalas">
			<wsdl:input message="tns:StartEscalasRequest"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="EscalasStartSOAP" type="tns:EscalasStart">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="StartEscalas">
			<soap:operation soapAction="http://promon.com.br/EscalasStart/StartEscalas"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="EscalasStart">
		<wsdl:port binding="tns:EscalasStartSOAP" name="EscalasStartSOAP">
			<soap:address location="http://www.example.org/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
