promon.com.br/rd/_comp/src/wsdl/EscalasDatasulOut.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:p1="http://promon.com.br/Escalas" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="EscalasDatasulOut" targetNamespace="http://promon.com.br/Escalas">
  <wsdl:documentation/>
  <wsp:UsingPolicy wsdl:required="true"/>
  <ifw:properties xmlns:ifw="urn:com-sap:ifr:v2:wsdl">
    <ifw:category>ifmmessif</ifw:category>
    <ifw:VersionID>09c9ee09c21211e6c2ce0000006543a2</ifw:VersionID>
    <ifw:lifeCycleInfo>
      <objectState/>
      <objectstatus value="A"/>
      <personresponsible value="egushiken"/>
      <changed by="egushiken" on="1481729409263"/>
    </ifw:lifeCycleInfo>
    <ifw:runtimeVersion uri="urn:sap-com:soap:application:esr:client:710"/>
    <ifw:communicationProfile uri="prf_dt_if_com_stateless"/>
    <ifw:securityProfile uri="prf_dt_if_sec_low"/>
    <ifw:interfacePattern p2p="false">L</ifw:interfacePattern>
    <ifw:isSensitiveData>false</ifw:isSensitiveData>
    <ifw:classifications>
      <ifw:classification name="ObjectType" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-type" valueCode="ifmmessif"/>
      <ifw:classification name="ObjectID" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-id" valueCode="c84de3e0e07a3722a33199864515addb"/>
    </ifw:classifications>
    <ifw:additionalAttributes/>
    <ifw:methods>
      <ifw:method name="EscalasDatasulOut">
        <ifw:isSynchron>true</ifw:isSynchron>
        <ifw:isIdempotent>false</ifw:isIdempotent>
        <ifw:isInbound>false</ifw:isInbound>
        <ifw:interfaceCategory>outbound</ifw:interfaceCategory>
        <ifw:communicationProfile uri="prf_dt_op_com_sync"/>
        <ifw:lifeCycleInfo>
          <objectState/>
        </ifw:lifeCycleInfo>
        <ifw:contextobjects/>
      </ifw:method>
    </ifw:methods>
    <ifw:messages>
      <ifw:message name="EscalasDatasulResponse">
        <ifw:messType>ifmmessage</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">EscalasDatasulResponse</ifw:elem>
          <ifw:elem id="NAMESPACE">http://promon.com.br/Escalas</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>http://promon.com.br/Escalas</ifw:technicalNamespace>
        <ifw:VersionID>f49f6e9cc21111e695b60000006543a2</ifw:VersionID>
        <ifw:xmlNamespace>http://promon.com.br/Escalas</ifw:xmlNamespace>
        <ifw:dataType name="EscalasDatasulResponse" namespace="http://promon.com.br/Escalas" swcvId="5910b6a0a67911e69345ef270ae80122" uri="name=EscalasDatasulResponse~namespace=http://promon.com.br/Escalas~swcvId=5910b6a0a67911e69345ef270ae80122"/>
      </ifw:message>
      <ifw:message name="EscalasDatasulRequest">
        <ifw:messType>ifmmessage</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">EscalasDatasulRequest</ifw:elem>
          <ifw:elem id="NAMESPACE">http://promon.com.br/Escalas</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>http://promon.com.br/Escalas</ifw:technicalNamespace>
        <ifw:VersionID>9715ba9bc21111e6cba70000006543a2</ifw:VersionID>
        <ifw:xmlNamespace>http://promon.com.br/Escalas</ifw:xmlNamespace>
        <ifw:dataType name="EscalasDatasulRequest" namespace="http://promon.com.br/Escalas" swcvId="5910b6a0a67911e69345ef270ae80122" uri="name=EscalasDatasulRequest~namespace=http://promon.com.br/Escalas~swcvId=5910b6a0a67911e69345ef270ae80122"/>
      </ifw:message>
    </ifw:messages>
    <ifw:matchingInterfaces/>
    <ifw:genericProperties>
      <ifw:swcvinfo>
        <ifw:guid>5910b6a0a67911e69345ef270ae80122</ifw:guid>
        <ifw:name>RD, 2.0 of promon.com.br</ifw:name>
      </ifw:swcvinfo>
      <ifw:languages>
        <ifw:language internalCode="EN" original="true"/>
      </ifw:languages>
      <ifw:documentation type="I">
        <name>_ID_c84de3e0e07a3722a33199864515addb_ifmmessif</name>
        <namespace>http://promon.com.br/Escalas</namespace>
      </ifw:documentation>
    </ifw:genericProperties>
  </ifw:properties>
  <wsp:Policy wsu:Id="OP_EscalasDatasulOut"/>
  <wsdl:types>
    <xsd:schema xmlns="http://promon.com.br/Escalas" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://promon.com.br/Escalas">
      <xsd:element name="EscalasDatasulRequest" type="EscalasDatasulRequest"/>
      <xsd:element name="EscalasDatasulResponse" type="EscalasDatasulResponse"/>
      <xsd:complexType name="EscalasDatasulRequest">
        <xsd:sequence>
          <xsd:element name="num_mes_refer" type="xsd:int"/>
          <xsd:element name="num_ano_refer" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EscalasDatasulResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="escalas">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="cdn_funcionario" type="xsd:int"/>
                <xsd:element minOccurs="0" name="num_dia" type="xsd:int"/>
                <xsd:element minOccurs="0" name="cod_tipo_dia" type="xsd:string"/>
                <xsd:element minOccurs="0" name="hra_ini_jornada" type="xsd:string"/>
                <xsd:element minOccurs="0" name="hra_fim_jornada" type="xsd:string"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EscalasDatasulRequest">
    <wsdl:documentation/>
    <wsdl:part element="p1:EscalasDatasulRequest" name="EscalasDatasulRequest"/>
  </wsdl:message>
  <wsdl:message name="EscalasDatasulResponse">
    <wsdl:documentation/>
    <wsdl:part element="p1:EscalasDatasulResponse" name="EscalasDatasulResponse"/>
  </wsdl:message>
  <wsdl:portType name="EscalasDatasulOut">
    <wsdl:documentation/>
    <wsdl:operation name="EscalasDatasulOut">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_EscalasDatasulOut"/>
      </wsp:Policy>
      <wsdl:input message="p1:EscalasDatasulRequest"/>
      <wsdl:output message="p1:EscalasDatasulResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EscalasDatasulOutBinding" type="p1:EscalasDatasulOut">
    <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="EscalasDatasulOut">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
