promon.com.br/rd/_comp/src/wsdl/EscalasRdOut.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:p1="http://promon.com.br/Escalas" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="EscalasRdOut" targetNamespace="http://promon.com.br/Escalas">
  <wsdl:documentation/>
  <wsp:UsingPolicy wsdl:required="true"/>
  <ifw:properties xmlns:ifw="urn:com-sap:ifr:v2:wsdl">
    <ifw:category>ifmmessif</ifw:category>
    <ifw:VersionID>9e7f20e7c21811e6cb410000006543a2</ifw:VersionID>
    <ifw:lifeCycleInfo>
      <objectState/>
      <objectstatus value="A"/>
      <personresponsible value="egushiken"/>
      <changed by="egushiken" on="1481732235803"/>
    </ifw:lifeCycleInfo>
    <ifw:runtimeVersion uri="urn:sap-com:soap:application:esr:client:710"/>
    <ifw:communicationProfile uri="prf_dt_if_com_stateless"/>
    <ifw:securityProfile uri="prf_dt_if_sec_low"/>
    <ifw:interfacePattern p2p="false">L</ifw:interfacePattern>
    <ifw:isSensitiveData>false</ifw:isSensitiveData>
    <ifw:classifications>
      <ifw:classification name="ObjectType" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-type" valueCode="ifmmessif"/>
      <ifw:classification name="ObjectID" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-id" valueCode="c7657d9933cd3eea8241586711a69860"/>
    </ifw:classifications>
    <ifw:additionalAttributes/>
    <ifw:methods>
      <ifw:method name="EscalasRdOut">
        <ifw:isSynchron>true</ifw:isSynchron>
        <ifw:isIdempotent>false</ifw:isIdempotent>
        <ifw:isInbound>false</ifw:isInbound>
        <ifw:interfaceCategory>outbound</ifw:interfaceCategory>
        <ifw:communicationProfile uri="prf_dt_op_com_sync"/>
        <ifw:lifeCycleInfo>
          <objectState/>
        </ifw:lifeCycleInfo>
        <ifw:contextobjects/>
      </ifw:method>
    </ifw:methods>
    <ifw:messages>
      <ifw:message name="EscalasRdRequest">
        <ifw:messType>ifmmessage</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">EscalasRdRequest</ifw:elem>
          <ifw:elem id="NAMESPACE">http://promon.com.br/Escalas</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>http://promon.com.br/Escalas</ifw:technicalNamespace>
        <ifw:VersionID>7991abe6c21811e681b00000006543a2</ifw:VersionID>
        <ifw:xmlNamespace>http://promon.com.br/Escalas</ifw:xmlNamespace>
        <ifw:dataType name="EscalasRdRequest" namespace="http://promon.com.br/Escalas" swcvId="5910b6a0a67911e69345ef270ae80122" uri="name=EscalasRdRequest~namespace=http://promon.com.br/Escalas~swcvId=5910b6a0a67911e69345ef270ae80122"/>
      </ifw:message>
      <ifw:message name="EscalasRdResponse">
        <ifw:messType>ifmmessage</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">EscalasRdResponse</ifw:elem>
          <ifw:elem id="NAMESPACE">http://promon.com.br/Escalas</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>http://promon.com.br/Escalas</ifw:technicalNamespace>
        <ifw:VersionID>6029a031c21811e6820a0000006543a2</ifw:VersionID>
        <ifw:xmlNamespace>http://promon.com.br/Escalas</ifw:xmlNamespace>
        <ifw:dataType name="EscalasRdResponse" namespace="http://promon.com.br/Escalas" swcvId="5910b6a0a67911e69345ef270ae80122" uri="name=EscalasRdResponse~namespace=http://promon.com.br/Escalas~swcvId=5910b6a0a67911e69345ef270ae80122"/>
      </ifw:message>
    </ifw:messages>
    <ifw:matchingInterfaces/>
    <ifw:genericProperties>
      <ifw:swcvinfo>
        <ifw:guid>5910b6a0a67911e69345ef270ae80122</ifw:guid>
        <ifw:name>RD, 2.0 of promon.com.br</ifw:name>
      </ifw:swcvinfo>
      <ifw:languages>
        <ifw:language internalCode="EN" original="true"/>
      </ifw:languages>
      <ifw:documentation type="I">
        <name>_ID_c7657d9933cd3eea8241586711a69860_ifmmessif</name>
        <namespace>http://promon.com.br/Escalas</namespace>
      </ifw:documentation>
    </ifw:genericProperties>
  </ifw:properties>
  <wsp:Policy wsu:Id="OP_EscalasRdOut"/>
  <wsdl:types>
    <xsd:schema xmlns="http://promon.com.br/Escalas" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://promon.com.br/Escalas">
      <xsd:element name="EscalasRdRequest" type="EscalasRdRequest"/>
      <xsd:element name="EscalasRdResponse" type="EscalasRdResponse"/>
      <xsd:complexType name="EscalasRdRequest">
        <xsd:sequence>
          <xsd:element name="mes" type="xsd:int"/>
          <xsd:element name="ano" type="xsd:int"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="escalas">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="cdn_funcionario" type="xsd:int"/>
                <xsd:element minOccurs="0" name="num_dia" type="xsd:int"/>
                <xsd:element minOccurs="0" name="cod_tipo_dia" type="xsd:string"/>
                <xsd:element minOccurs="0" name="hra_ini_jornada" type="xsd:string"/>
                <xsd:element minOccurs="0" name="hra_fim_jornada" type="xsd:string"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EscalasRdResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="escalasResult" type="xsd:boolean"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="msgError" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EscalasRdRequest">
    <wsdl:documentation/>
    <wsdl:part element="p1:EscalasRdRequest" name="EscalasRdRequest"/>
  </wsdl:message>
  <wsdl:message name="EscalasRdResponse">
    <wsdl:documentation/>
    <wsdl:part element="p1:EscalasRdResponse" name="EscalasRdResponse"/>
  </wsdl:message>
  <wsdl:portType name="EscalasRdOut">
    <wsdl:documentation/>
    <wsdl:operation name="EscalasRdOut">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_EscalasRdOut"/>
      </wsp:Policy>
      <wsdl:input message="p1:EscalasRdRequest"/>
      <wsdl:output message="p1:EscalasRdResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EscalasRdOutBinding" type="p1:EscalasRdOut">
    <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="EscalasRdOut">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
