promon.com.br/rd/_comp/src/wsdl/getCustoProfissionalDatasul.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:p1="http://promon.com.br/CustoProfissional" xmlns:p2="urn:totvs:ws1:logicalis:ColaboradoresService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="getCustoProfissionalDatasul" targetNamespace="http://promon.com.br/CustoProfissional">
  <wsdl:documentation/>
  <wsp:UsingPolicy wsdl:required="true"/>
  <ifw:properties xmlns:ifw="urn:com-sap:ifr:v2:wsdl">
    <ifw:category>ifmmessif</ifw:category>
    <ifw:VersionID>cb4e4cfbc7da11e6cc900000006543a2</ifw:VersionID>
    <ifw:lifeCycleInfo>
      <objectState/>
      <objectstatus value="A"/>
      <personresponsible value="egushiken"/>
      <changed by="egushiken" on="1482365382115"/>
    </ifw:lifeCycleInfo>
    <ifw:runtimeVersion uri="urn:sap-com:soap:application:esr:client:710"/>
    <ifw:communicationProfile uri="prf_dt_if_com_stateless"/>
    <ifw:securityProfile uri="prf_dt_if_sec_low"/>
    <ifw:interfacePattern p2p="false">L</ifw:interfacePattern>
    <ifw:isSensitiveData>false</ifw:isSensitiveData>
    <ifw:classifications>
      <ifw:classification name="ObjectType" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-type" valueCode="ifmmessif"/>
      <ifw:classification name="ObjectID" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-id" valueCode="cb2969bbf97e33cbb66e04343bff0ab6"/>
    </ifw:classifications>
    <ifw:additionalAttributes/>
    <ifw:methods>
      <ifw:method name="getCustoProfissionalDatasul">
        <ifw:isSynchron>true</ifw:isSynchron>
        <ifw:isIdempotent>false</ifw:isIdempotent>
        <ifw:isInbound>false</ifw:isInbound>
        <ifw:interfaceCategory>outbound</ifw:interfaceCategory>
        <ifw:communicationProfile uri="prf_dt_op_com_sync"/>
        <ifw:lifeCycleInfo>
          <objectState/>
        </ifw:lifeCycleInfo>
        <ifw:contextobjects/>
      </ifw:method>
    </ifw:methods>
    <ifw:messages>
      <ifw:message name="custoProfissionalResponse">
        <ifw:messType>ifmmessage</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">custoProfissionalResponse</ifw:elem>
          <ifw:elem id="NAMESPACE">http://promon.com.br/CustoProfissional</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>http://promon.com.br/CustoProfissional</ifw:technicalNamespace>
        <ifw:VersionID>b8d0037bc7da11e68c6d0000006543a2</ifw:VersionID>
        <ifw:xmlNamespace>urn:totvs:ws1:logicalis:ColaboradoresService</ifw:xmlNamespace>
        <ifw:dataType name="custoProfissionalResponse" namespace="http://promon.com.br/CustoProfissional" swcvId="5910b6a0a67911e69345ef270ae80122" uri="name=custoProfissionalResponse~namespace=http://promon.com.br/CustoProfissional~swcvId=5910b6a0a67911e69345ef270ae80122"/>
      </ifw:message>
      <ifw:message name="custoProfissional">
        <ifw:messType>ifmmessage</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">custoProfissional</ifw:elem>
          <ifw:elem id="NAMESPACE">http://promon.com.br/CustoProfissional</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>http://promon.com.br/CustoProfissional</ifw:technicalNamespace>
        <ifw:VersionID>49ff661fc7da11e6acf70000006543a2</ifw:VersionID>
        <ifw:xmlNamespace>urn:totvs:ws1:logicalis:ColaboradoresService</ifw:xmlNamespace>
        <ifw:dataType name="custoProfissional" namespace="http://promon.com.br/CustoProfissional" swcvId="5910b6a0a67911e69345ef270ae80122" uri="name=custoProfissional~namespace=http://promon.com.br/CustoProfissional~swcvId=5910b6a0a67911e69345ef270ae80122"/>
      </ifw:message>
    </ifw:messages>
    <ifw:matchingInterfaces/>
    <ifw:genericProperties>
      <ifw:swcvinfo>
        <ifw:guid>5910b6a0a67911e69345ef270ae80122</ifw:guid>
        <ifw:name>RD, 2.0 of promon.com.br</ifw:name>
      </ifw:swcvinfo>
      <ifw:languages>
        <ifw:language internalCode="EN" original="true"/>
      </ifw:languages>
      <ifw:documentation type="I">
        <name>_ID_cb2969bbf97e33cbb66e04343bff0ab6_ifmmessif</name>
        <namespace>http://promon.com.br/CustoProfissional</namespace>
      </ifw:documentation>
    </ifw:genericProperties>
  </ifw:properties>
  <wsp:Policy wsu:Id="OP_getCustoProfissionalDatasul"/>
  <wsdl:types>
    <xsd:schema xmlns="urn:totvs:ws1:logicalis:ColaboradoresService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:totvs:ws1:logicalis:ColaboradoresService">
      <xsd:import namespace="http://promon.com.br/CustoProfissional"/>
      <xsd:element name="custoProfissionalResponse" type="p1:custoProfissionalResponse"/>
      <xsd:element name="custoProfissional" type="p1:custoProfissional"/>
    </xsd:schema>
    <xsd:schema xmlns="http://promon.com.br/CustoProfissional" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://promon.com.br/CustoProfissional">
      <xsd:complexType name="custoProfissional">
        <xsd:sequence>
          <xsd:element name="dat_refer" type="xsd:date"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="custoProfissionalResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ttCustoColab">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="ttCustoColabRow">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="0" name="cdn_funcionario" type="xsd:int"/>
                      <xsd:element minOccurs="0" name="val_custo_hora" type="xsd:string"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="custoProfissional">
    <wsdl:documentation/>
    <wsdl:part element="p2:custoProfissional" name="custoProfissional"/>
  </wsdl:message>
  <wsdl:message name="custoProfissionalResponse">
    <wsdl:documentation/>
    <wsdl:part element="p2:custoProfissionalResponse" name="custoProfissionalResponse"/>
  </wsdl:message>
  <wsdl:portType name="getCustoProfissionalDatasul">
    <wsdl:documentation/>
    <wsdl:operation name="getCustoProfissionalDatasul">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_getCustoProfissionalDatasul"/>
      </wsp:Policy>
      <wsdl:input message="p1:custoProfissional"/>
      <wsdl:output message="p1:custoProfissionalResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="getCustoProfissionalDatasulBinding" type="p1:getCustoProfissionalDatasul">
    <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCustoProfissionalDatasul">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
