promon.com.br/rd/_comp/src/wsdl/getHorasXColetoresRD.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:p1="http://promon.com.br/HorasXColetores" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="getHorasXColetoresRD" targetNamespace="http://promon.com.br/HorasXColetores">
  <wsdl:documentation/>
  <wsp:UsingPolicy wsdl:required="true"/>
  <ifw:properties xmlns:ifw="urn:com-sap:ifr:v2:wsdl">
    <ifw:category>ifmmessif</ifw:category>
    <ifw:VersionID>53a76ffed66711e6918e0000006543a2</ifw:VersionID>
    <ifw:lifeCycleInfo>
      <objectState/>
      <objectstatus value="A"/>
      <personresponsible value="egushiken"/>
      <changed by="egushiken" on="1483965003366"/>
    </ifw:lifeCycleInfo>
    <ifw:runtimeVersion uri="urn:sap-com:soap:application:esr:client:710"/>
    <ifw:communicationProfile uri="prf_dt_if_com_stateless"/>
    <ifw:securityProfile uri="prf_dt_if_sec_low"/>
    <ifw:interfacePattern p2p="false">L</ifw:interfacePattern>
    <ifw:isSensitiveData>false</ifw:isSensitiveData>
    <ifw:classifications>
      <ifw:classification name="ObjectType" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-type" valueCode="ifmmessif"/>
      <ifw:classification name="ObjectID" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-id" valueCode="56ecdbbe9a0133708c11ab0d32200d22"/>
    </ifw:classifications>
    <ifw:additionalAttributes/>
    <ifw:methods>
      <ifw:method name="HorasXColetoresRdIn">
        <ifw:isSynchron>true</ifw:isSynchron>
        <ifw:isIdempotent>false</ifw:isIdempotent>
        <ifw:isInbound>false</ifw:isInbound>
        <ifw:interfaceCategory>outbound</ifw:interfaceCategory>
        <ifw:communicationProfile uri="prf_dt_op_com_sync"/>
        <ifw:lifeCycleInfo>
          <objectState/>
        </ifw:lifeCycleInfo>
        <ifw:contextobjects/>
      </ifw:method>
    </ifw:methods>
    <ifw:messages>
      <ifw:message name="hcRdGetRdRequest">
        <ifw:messType>ifmmessage</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">hcRdGetRdRequest</ifw:elem>
          <ifw:elem id="NAMESPACE">http://promon.com.br/HorasXColetores</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>http://promon.com.br/HorasXColetores</ifw:technicalNamespace>
        <ifw:VersionID>e13fc1cbd66611e6a9b10000006543a2</ifw:VersionID>
        <ifw:xmlNamespace>http://promon.com.br/HorasXColetores</ifw:xmlNamespace>
        <ifw:dataType name="hcRdGetRdRequest" namespace="http://promon.com.br/HorasXColetores" swcvId="5910b6a0a67911e69345ef270ae80122" uri="name=hcRdGetRdRequest~namespace=http://promon.com.br/HorasXColetores~swcvId=5910b6a0a67911e69345ef270ae80122"/>
      </ifw:message>
      <ifw:message name="hcRdGetRdResponse">
        <ifw:messType>ifmmessage</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">hcRdGetRdResponse</ifw:elem>
          <ifw:elem id="NAMESPACE">http://promon.com.br/HorasXColetores</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>http://promon.com.br/HorasXColetores</ifw:technicalNamespace>
        <ifw:VersionID>d88aa983d66611e698a80000006543a2</ifw:VersionID>
        <ifw:xmlNamespace>http://promon.com.br/HorasXColetores</ifw:xmlNamespace>
        <ifw:dataType name="hcRdGetRdResponse" namespace="http://promon.com.br/HorasXColetores" swcvId="5910b6a0a67911e69345ef270ae80122" uri="name=hcRdGetRdResponse~namespace=http://promon.com.br/HorasXColetores~swcvId=5910b6a0a67911e69345ef270ae80122"/>
      </ifw:message>
    </ifw:messages>
    <ifw:matchingInterfaces/>
    <ifw:genericProperties>
      <ifw:swcvinfo>
        <ifw:guid>5910b6a0a67911e69345ef270ae80122</ifw:guid>
        <ifw:name>RD, 2.0 of promon.com.br</ifw:name>
      </ifw:swcvinfo>
      <ifw:languages>
        <ifw:language internalCode="EN" original="true"/>
      </ifw:languages>
      <ifw:documentation type="I">
        <name>_ID_56ecdbbe9a0133708c11ab0d32200d22_ifmmessif</name>
        <namespace>http://promon.com.br/HorasXColetores</namespace>
      </ifw:documentation>
    </ifw:genericProperties>
  </ifw:properties>
  <wsp:Policy wsu:Id="OP_HorasXColetoresRdIn"/>
  <wsdl:types>
    <xsd:schema xmlns="http://promon.com.br/HorasXColetores" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://promon.com.br/HorasXColetores">
      <xsd:element name="hcRdGetRdRequest" type="hcRdGetRdRequest"/>
      <xsd:element name="hcRdGetRdResponse" type="hcRdGetRdResponse"/>
      <xsd:complexType name="hcRdGetRdResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="row">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="registro" type="xsd:string"/>
                <xsd:element minOccurs="0" name="qtde_horas" type="xsd:string"/>
                <xsd:element minOccurs="0" name="coletor_custo" type="xsd:string"/>
                <xsd:element minOccurs="0" name="tipo" type="xsd:string"/>
                <xsd:element minOccurs="0" name="data_competencia" type="xsd:date"/>
                <xsd:element minOccurs="0" name="data_modificacao" type="xsd:string"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="hcRdGetRdRequest">
        <xsd:sequence>
          <xsd:element name="data_inicio" type="xsd:string"/>
          <xsd:element minOccurs="0" name="data_fim" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="hcRdGetRdRequest">
    <wsdl:documentation/>
    <wsdl:part element="p1:hcRdGetRdRequest" name="hcRdGetRdRequest"/>
  </wsdl:message>
  <wsdl:message name="hcRdGetRdResponse">
    <wsdl:documentation/>
    <wsdl:part element="p1:hcRdGetRdResponse" name="hcRdGetRdResponse"/>
  </wsdl:message>
  <wsdl:portType name="getHorasXColetoresRD">
    <wsdl:documentation/>
    <wsdl:operation name="HorasXColetoresRdIn">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_HorasXColetoresRdIn"/>
      </wsp:Policy>
      <wsdl:input message="p1:hcRdGetRdRequest"/>
      <wsdl:output message="p1:hcRdGetRdResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="getHorasXColetoresRDBinding" type="p1:getHorasXColetoresRD">
    <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="HorasXColetoresRdIn">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
