promon.com.br/rd/_comp/src/wsdl/horasXColetoresStart.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://promon.com.br/HorasXColetoresStart/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HorasXColetoresStart" targetNamespace="http://promon.com.br/HorasXColetoresStart/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://promon.com.br/HorasXColetoresStart/">
			<xsd:element name="StartHorasXColetores">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="data_inicio" type="xsd:string"/>
						<xsd:element name="data_fim" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="StartHorasXColetoresResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="StartHorasXColetoresRequest">
		<wsdl:part element="tns:StartHorasXColetores" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="StartHorasXColetoresResponse">
		<wsdl:part element="tns:StartHorasXColetoresResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:portType name="HorasXColetoresStart">
		<wsdl:operation name="StartHorasXColetores">
			<wsdl:input message="tns:StartHorasXColetoresRequest"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="HorasXColetoresStartSOAP" type="tns:HorasXColetoresStart">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="StartHorasXColetores">
			<soap:operation soapAction="http://promon.com.br/EscalasStart/StartHorasXColetores"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="HorasXColetoresStart">
		<wsdl:port binding="tns:HorasXColetoresStartSOAP" name="HorasXColetoresStartSOAP">
			<soap:address location="http://www.example.org/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
