promon.com.br/rd/_comp/src/wsdl/sendHorasColetoresToECC.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:p1="http://promon.com.br/HorasXColetores" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="sendHorasColetoresToECC" targetNamespace="http://promon.com.br/HorasXColetores">
  <wsdl:documentation/>
  <wsp:UsingPolicy wsdl:required="true"/>
  <ifw:properties xmlns:ifw="urn:com-sap:ifr:v2:wsdl">
    <ifw:category>ifmmessif</ifw:category>
    <ifw:VersionID>1494d80ed66c11e6992a0000006543a2</ifw:VersionID>
    <ifw:lifeCycleInfo>
      <objectState/>
      <objectstatus value="A"/>
      <personresponsible value="egushiken"/>
      <changed by="egushiken" on="1483967122849"/>
    </ifw:lifeCycleInfo>
    <ifw:runtimeVersion uri="urn:sap-com:soap:application:esr:client:710"/>
    <ifw:communicationProfile uri="prf_dt_if_com_stateless"/>
    <ifw:securityProfile uri="prf_dt_if_sec_low"/>
    <ifw:interfacePattern p2p="false">L</ifw:interfacePattern>
    <ifw:isSensitiveData>false</ifw:isSensitiveData>
    <ifw:classifications>
      <ifw:classification name="ObjectType" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-type" valueCode="ifmmessif"/>
      <ifw:classification name="ObjectID" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-id" valueCode="f93867c5459138f5a1504c54a12e3ef4"/>
    </ifw:classifications>
    <ifw:additionalAttributes/>
    <ifw:methods>
      <ifw:method name="sendHorasColetoresToECC">
        <ifw:isSynchron>true</ifw:isSynchron>
        <ifw:isIdempotent>false</ifw:isIdempotent>
        <ifw:isInbound>false</ifw:isInbound>
        <ifw:interfaceCategory>outbound</ifw:interfaceCategory>
        <ifw:communicationProfile uri="prf_dt_op_com_sync"/>
        <ifw:lifeCycleInfo>
          <objectState/>
        </ifw:lifeCycleInfo>
        <ifw:contextobjects/>
      </ifw:method>
    </ifw:methods>
    <ifw:messages>
      <ifw:message name="hcEccRequest">
        <ifw:messType>ifmmessage</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">hcEccRequest</ifw:elem>
          <ifw:elem id="NAMESPACE">http://promon.com.br/HorasXColetores</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>http://promon.com.br/HorasXColetores</ifw:technicalNamespace>
        <ifw:VersionID>71b9ac68d66b11e69d0c0000006543a2</ifw:VersionID>
        <ifw:xmlNamespace>http://promon.com.br/HorasXColetores</ifw:xmlNamespace>
        <ifw:dataType name="hcEccRequest" namespace="http://promon.com.br/HorasXColetores" swcvId="5910b6a0a67911e69345ef270ae80122" uri="name=hcEccRequest~namespace=http://promon.com.br/HorasXColetores~swcvId=5910b6a0a67911e69345ef270ae80122"/>
      </ifw:message>
      <ifw:message name="hcEccResponse">
        <ifw:messType>ifmmessage</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">hcEccResponse</ifw:elem>
          <ifw:elem id="NAMESPACE">http://promon.com.br/HorasXColetores</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>http://promon.com.br/HorasXColetores</ifw:technicalNamespace>
        <ifw:VersionID>874a0f26d66b11e6987d0000006543a2</ifw:VersionID>
        <ifw:xmlNamespace>http://promon.com.br/HorasXColetores</ifw:xmlNamespace>
        <ifw:dataType name="hcEccResponse" namespace="http://promon.com.br/HorasXColetores" swcvId="5910b6a0a67911e69345ef270ae80122" uri="name=hcEccResponse~namespace=http://promon.com.br/HorasXColetores~swcvId=5910b6a0a67911e69345ef270ae80122"/>
      </ifw:message>
    </ifw:messages>
    <ifw:matchingInterfaces/>
    <ifw:genericProperties>
      <ifw:swcvinfo>
        <ifw:guid>5910b6a0a67911e69345ef270ae80122</ifw:guid>
        <ifw:name>RD, 2.0 of promon.com.br</ifw:name>
      </ifw:swcvinfo>
      <ifw:languages>
        <ifw:language internalCode="EN" original="true"/>
      </ifw:languages>
      <ifw:documentation type="I">
        <name>_ID_f93867c5459138f5a1504c54a12e3ef4_ifmmessif</name>
        <namespace>http://promon.com.br/HorasXColetores</namespace>
      </ifw:documentation>
    </ifw:genericProperties>
  </ifw:properties>
  <wsp:Policy wsu:Id="OP_sendHorasColetoresToECC"/>
  <wsdl:types>
    <xsd:schema xmlns="http://promon.com.br/HorasXColetores" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://promon.com.br/HorasXColetores">
      <xsd:element name="hcEccRequest" type="hcEccRequest"/>
      <xsd:element name="hcEccResponse" type="hcEccResponse"/>
      <xsd:complexType name="hcEccResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="result" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
            <xsd:complexType name="hcEccRequest">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">c93535e8e00111e6c11b0000006543a2</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="horasXcoletores">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">b5bb5419c6cc11e6c88700059a3c7a00</xsd:appinfo>
              <xsd:documentation/>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="registro" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">b5bb1bb8c6cc11e68d0800059a3c7a00</xsd:appinfo>
                    <xsd:documentation/>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="qtdHoras" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">b5bb1bb9c6cc11e696cf00059a3c7a00</xsd:appinfo>
                    <xsd:documentation/>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="coletorCusto" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">b5bb1bbac6cc11e6b71e00059a3c7a00</xsd:appinfo>
                    <xsd:documentation/>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="tipo" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">b5bb1bbbc6cc11e6877100059a3c7a00</xsd:appinfo>
                    <xsd:documentation/>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="dtCompetencia" type="xsd:date">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">b5bb1bbcc6cc11e6b87100059a3c7a00</xsd:appinfo>
                    <xsd:documentation/>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="dtModificacao" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">b5bb1bbdc6cc11e6811d00059a3c7a00</xsd:appinfo>
                    <xsd:documentation/>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="hcEccRequest">
    <wsdl:documentation/>
    <wsdl:part element="p1:hcEccRequest" name="hcEccRequest"/>
  </wsdl:message>
  <wsdl:message name="hcEccResponse">
    <wsdl:documentation/>
    <wsdl:part element="p1:hcEccResponse" name="hcEccResponse"/>
  </wsdl:message>
  <wsdl:portType name="sendHorasColetoresToECC">
    <wsdl:documentation/>
    <wsdl:operation name="sendHorasColetoresToECC">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_sendHorasColetoresToECC"/>
      </wsp:Policy>
      <wsdl:input message="p1:hcEccRequest"/>
      <wsdl:output message="p1:hcEccResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sendHorasColetoresToECCBinding" type="p1:sendHorasColetoresToECC">
    <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sendHorasColetoresToECC">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
