promon.com.br/rd/_comp/src/wsdl/sendCustoProfissionalToECC.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:p1="http://promon.com.br/CustoProfissional" xmlns:rfc="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="sendCustoProfissionalToECC" targetNamespace="http://promon.com.br/CustoProfissional">
  <wsdl:documentation/>
  <wsp:UsingPolicy wsdl:required="true"/>
  <ifw:properties xmlns:ifw="urn:com-sap:ifr:v2:wsdl">
    <ifw:category>ifmmessif</ifw:category>
    <ifw:VersionID>329e9f002ebc11e8ccf60000006543a2</ifw:VersionID>
    <ifw:lifeCycleInfo>
      <objectState/>
      <objectstatus value="A"/>
      <personresponsible value="egushiken"/>
      <changed by="egushiken" on="1521824659854"/>
    </ifw:lifeCycleInfo>
    <ifw:runtimeVersion uri="urn:sap-com:soap:application:esr:client:710"/>
    <ifw:communicationProfile uri="prf_dt_if_com_stateless"/>
    <ifw:securityProfile uri="prf_dt_if_sec_low"/>
    <ifw:interfacePattern p2p="false">L</ifw:interfacePattern>
    <ifw:isSensitiveData>false</ifw:isSensitiveData>
    <ifw:classifications>
      <ifw:classification name="ObjectType" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-type" valueCode="ifmmessif"/>
      <ifw:classification name="ObjectID" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-id" valueCode="14b4004d7a9c3f9198de7ea60aaebe09"/>
    </ifw:classifications>
    <ifw:additionalAttributes/>
    <ifw:methods>
      <ifw:method name="sendCustoProfissionalToECC">
        <ifw:isSynchron>true</ifw:isSynchron>
        <ifw:isIdempotent>false</ifw:isIdempotent>
        <ifw:isInbound>false</ifw:isInbound>
        <ifw:interfaceCategory>outbound</ifw:interfaceCategory>
        <ifw:communicationProfile uri="prf_dt_op_com_sync"/>
        <ifw:lifeCycleInfo>
          <objectState/>
        </ifw:lifeCycleInfo>
        <ifw:contextobjects/>
      </ifw:method>
    </ifw:methods>
    <ifw:messages>
      <ifw:message name="rfc.ZFCOXI_017_CUSTOSPROFISSIONAIS.Input">
        <ifw:messType>rfcmsg</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">ZFCOXI_017_CUSTOSPROFISSIONAIS</ifw:elem>
          <ifw:elem id="NAMESPACE">urn:sap-com:document:sap:rfc:functions</ifw:elem>
          <ifw:elem id="SUBNAME">ZFCOXI_017_CUSTOSPROFISSIONAIS</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>urn:sap-com:document:sap:rfc:functions</ifw:technicalNamespace>
        <ifw:VersionID>cbb210542ebb11e887250000006543a2</ifw:VersionID>
      </ifw:message>
      <ifw:message name="custoProfissionalEccRequest">
        <ifw:messType>ifmmessage</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">custoProfissionalEccRequest</ifw:elem>
          <ifw:elem id="NAMESPACE">http://promon.com.br/CustoProfissional</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>http://promon.com.br/CustoProfissional</ifw:technicalNamespace>
        <ifw:VersionID>11ad92f52ebc11e8cea00000006543a2</ifw:VersionID>
        <ifw:xmlNamespace>http://promon.com.br/CustoProfissional</ifw:xmlNamespace>
        <ifw:dataType name="custoProfissionalEccRequest" namespace="http://promon.com.br/CustoProfissional" swcvId="5910b6a0a67911e69345ef270ae80122" uri="name=custoProfissionalEccRequest~namespace=http://promon.com.br/CustoProfissional~swcvId=5910b6a0a67911e69345ef270ae80122"/>
      </ifw:message>
    </ifw:messages>
    <ifw:matchingInterfaces/>
    <ifw:genericProperties>
      <ifw:swcvinfo>
        <ifw:guid>5910b6a0a67911e69345ef270ae80122</ifw:guid>
        <ifw:name>RD, 2.0 of promon.com.br</ifw:name>
      </ifw:swcvinfo>
      <ifw:languages>
        <ifw:language internalCode="EN" original="true"/>
      </ifw:languages>
      <ifw:documentation type="I">
        <name>_ID_14b4004d7a9c3f9198de7ea60aaebe09_ifmmessif</name>
        <namespace>http://promon.com.br/CustoProfissional</namespace>
      </ifw:documentation>
    </ifw:genericProperties>
  </ifw:properties>
  <wsp:Policy wsu:Id="OP_sendCustoProfissionalToECC"/>
  <wsdl:types>
    <xsd:schema xmlns="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:element name="ZFCOXI_017_CUSTOSPROFISSIONAIS">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="CUSTOCOLAB">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="ZSTCOXI_017_CUSTOPROF"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:simpleType name="time">
        <xsd:union memberTypes="xsd:time genericTime"/>
      </xsd:simpleType>
      <xsd:simpleType name="date">
        <xsd:union memberTypes="xsd:date genericDate"/>
      </xsd:simpleType>
      <xsd:simpleType name="genericDate">
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="....-..-.."/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="genericTime">
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="..:..:.."/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ZSTCOXI_017_CUSTOPROF">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="EMPRESA">
            <xsd:annotation>
              <xsd:documentation>Company Code</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="RE">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MES_REF">
            <xsd:annotation>
              <xsd:documentation>Fiscal Period</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
                <xsd:pattern value="\d+"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ANO_REF">
            <xsd:annotation>
              <xsd:documentation>Fiscal Year</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
                <xsd:pattern value="\d+"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="TX_HR">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="400"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="DT_CAR" type="date">
            <xsd:annotation>
              <xsd:documentation>Date</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="HR_CAR" type="time">
            <xsd:annotation>
              <xsd:documentation>Time</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://promon.com.br/CustoProfissional" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://promon.com.br/CustoProfissional">
      <xsd:element name="custoProfissionalEccRequest" type="custoProfissionalEccRequest"/>
      <xsd:complexType name="custoProfissionalEccRequest">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="dat_refer" type="xsd:date"/>
          <xsd:element minOccurs="0" name="custoProfissional" type="custoProfissionalResponse"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="custoProfissionalResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ttCustoColab">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="ttCustoColabRow">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="0" name="cdn_funcionario" type="xsd:int"/>
                      <xsd:element minOccurs="0" name="val_custo_hora" type="xsd:string"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="custoProfissionalEccRequest">
    <wsdl:documentation/>
    <wsdl:part element="p1:custoProfissionalEccRequest" name="custoProfissionalEccRequest"/>
  </wsdl:message>
  <wsdl:message name="rfc.ZFCOXI_017_CUSTOSPROFISSIONAIS.Input">
    <wsdl:documentation/>
    <wsdl:part element="rfc:ZFCOXI_017_CUSTOSPROFISSIONAIS" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="sendCustoProfissionalToECC">
    <wsdl:documentation/>
    <wsdl:operation name="sendCustoProfissionalToECC">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_sendCustoProfissionalToECC"/>
      </wsp:Policy>
      <wsdl:input message="p1:custoProfissionalEccRequest"/>
      <wsdl:output message="p1:rfc.ZFCOXI_017_CUSTOSPROFISSIONAIS.Input"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sendCustoProfissionalToECCBinding" type="p1:sendCustoProfissionalToECC">
    <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sendCustoProfissionalToECC">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
