promon.com.br/rd/_comp/src/wsdl/SendToECC.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:p1="http://promon.com.br/Colaboradores" xmlns:p2="urn:totvs:ws1:logicalis:ColaboradoresService" xmlns:rfc="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="SendToECC" targetNamespace="http://promon.com.br/Colaboradores">
  <wsdl:documentation/>
  <wsp:UsingPolicy wsdl:required="true"/>
  <ifw:properties xmlns:ifw="urn:com-sap:ifr:v2:wsdl">
    <ifw:category>ifmmessif</ifw:category>
    <ifw:VersionID>c6c7b905c12811e68d5a0000006543a2</ifw:VersionID>
    <ifw:lifeCycleInfo>
      <objectState/>
      <objectstatus value="A"/>
      <personresponsible value="egushiken"/>
      <changed by="egushiken" on="1481629219603"/>
    </ifw:lifeCycleInfo>
    <ifw:runtimeVersion uri="urn:sap-com:soap:application:esr:client:710"/>
    <ifw:communicationProfile uri="prf_dt_if_com_stateless"/>
    <ifw:securityProfile uri="prf_dt_if_sec_low"/>
    <ifw:interfacePattern p2p="false">L</ifw:interfacePattern>
    <ifw:isSensitiveData>false</ifw:isSensitiveData>
    <ifw:classifications>
      <ifw:classification name="ObjectType" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-type" valueCode="ifmmessif"/>
      <ifw:classification name="ObjectID" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-id" valueCode="0f30fd03a18e355b8b3f96f9d805318a"/>
    </ifw:classifications>
    <ifw:additionalAttributes/>
    <ifw:methods>
      <ifw:method name="SendToECC">
        <ifw:isSynchron>true</ifw:isSynchron>
        <ifw:isIdempotent>false</ifw:isIdempotent>
        <ifw:isInbound>false</ifw:isInbound>
        <ifw:interfaceCategory>outbound</ifw:interfaceCategory>
        <ifw:communicationProfile uri="prf_dt_op_com_sync"/>
        <ifw:lifeCycleInfo>
          <objectState>R</objectState>
        </ifw:lifeCycleInfo>
        <ifw:contextobjects/>
      </ifw:method>
    </ifw:methods>
    <ifw:messages>
      <ifw:message name="buscaTodosColaboradoresResponse">
        <ifw:messType>ifmmessage</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">buscaTodosColaboradoresResponse</ifw:elem>
          <ifw:elem id="NAMESPACE">http://promon.com.br/Colaboradores</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>http://promon.com.br/Colaboradores</ifw:technicalNamespace>
        <ifw:VersionID>e367f595be8211e6952e0000006543a2</ifw:VersionID>
        <ifw:xmlNamespace>urn:totvs:ws1:logicalis:ColaboradoresService</ifw:xmlNamespace>
        <ifw:dataType name="buscaTodosColaboradoresResponse" namespace="http://promon.com.br/Colaboradores" swcvId="5910b6a0a67911e69345ef270ae80122" uri="name=buscaTodosColaboradoresResponse~namespace=http://promon.com.br/Colaboradores~swcvId=5910b6a0a67911e69345ef270ae80122"/>
      </ifw:message>
      <ifw:message name="rfc.ZFFVXI_009_V02.Output">
        <ifw:messType>rfcmsg</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">ZFFVXI_009_V02</ifw:elem>
          <ifw:elem id="NAMESPACE">urn:sap-com:document:sap:rfc:functions</ifw:elem>
          <ifw:elem id="SUBNAME">ZFFVXI_009_V02.Response</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>urn:sap-com:document:sap:rfc:functions</ifw:technicalNamespace>
        <ifw:VersionID>601c7110c0cf11e6b28c0000006543a2</ifw:VersionID>
      </ifw:message>
    </ifw:messages>
    <ifw:matchingInterfaces/>
    <ifw:genericProperties>
      <ifw:swcvinfo>
        <ifw:guid>5910b6a0a67911e69345ef270ae80122</ifw:guid>
        <ifw:name>RD, 2.0 of promon.com.br</ifw:name>
      </ifw:swcvinfo>
      <ifw:languages>
        <ifw:language internalCode="EN" original="true"/>
      </ifw:languages>
      <ifw:documentation type="I">
        <name>_ID_0f30fd03a18e355b8b3f96f9d805318a_ifmmessif</name>
        <namespace>http://promon.com.br/Colaboradores</namespace>
      </ifw:documentation>
    </ifw:genericProperties>
  </ifw:properties>
  <wsp:Policy wsu:Id="OP_SendToECC"/>
  <wsdl:types>
    <xsd:schema xmlns="http://promon.com.br/Colaboradores" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://promon.com.br/Colaboradores">
            <xsd:complexType name="buscaTodosColaboradoresResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ttColaborador">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="ttColaboradorRow">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="cdn_empresa" nillable="true" type="xsd:string"/>
                      <xsd:element name="cdn_estab" nillable="true" type="xsd:string"/>
                      <xsd:element name="cdn_funcionario" nillable="true" type="xsd:string"/>
                      <xsd:element name="nom_completo" nillable="true" type="xsd:string"/>
                      <xsd:element name="nom_conhecido" nillable="true" type="xsd:string"/>
                      <xsd:element name="nom_rua" nillable="true" type="xsd:string"/>
                      <xsd:element name="nom_bairro" nillable="true" type="xsd:string"/>
                      <xsd:element name="nom_complemento" nillable="true" type="xsd:string"/>
                      <xsd:element name="nom_cep" nillable="true" type="xsd:string"/>
                      <xsd:element name="nom_cidade_end" nillable="true" type="xsd:string"/>
                      <xsd:element name="cod_uf_end" nillable="true" type="xsd:string"/>
                      <xsd:element name="nom_rg" nillable="true" type="xsd:string"/>
                      <xsd:element name="cod_per_cpf" nillable="true" type="xsd:string"/>
                      <xsd:element name="cod_per_pis" nillable="true" type="xsd:string"/>
                      <xsd:element name="log_relogio_ponto" nillable="true" type="xsd:boolean"/>
                      <xsd:element name="nom_pais_empresa" nillable="true" type="xsd:string"/>
                      <xsd:element name="nom_cidad_empresa" nillable="true" type="xsd:string"/>
                      <xsd:element name="nom_uf_empresa" nillable="true" type="xsd:string"/>
                      <xsd:element name="nom_rua_estab" nillable="true" type="xsd:string"/>
                      <xsd:element name="nom_bairro_estab" nillable="true" type="xsd:string"/>
                      <xsd:element name="nom_compl_estab" nillable="true" type="xsd:string"/>
                      <xsd:element name="nom_cep_estab" nillable="true" type="xsd:string"/>
                      <xsd:element name="nom_cidade_estab" nillable="true" type="xsd:string"/>
                      <xsd:element name="nom_uf_estab" nillable="true" type="xsd:string"/>
                      <xsd:element name="nom_pais_estab" nillable="true" type="xsd:string"/>
                      <xsd:element name="nom_np" nillable="true" type="xsd:string"/>
                      <xsd:element name="nom_cargo_totvs" nillable="true" type="xsd:string"/>
                      <xsd:element name="cdn_cargo_totvs" nillable="true" type="xsd:int"/>
                      <xsd:element name="log_ativo" nillable="true" type="xsd:boolean"/>
                      <xsd:element name="num_ramal" nillable="true" type="xsd:int"/>
                      <xsd:element name="nom_email_chefe" nillable="true" type="xsd:string"/>
                      <xsd:element name="nom_chefe" nillable="true" type="xsd:string"/>
                      <xsd:element name="nom_local" nillable="true" type="xsd:string"/>
                      <xsd:element name="cod_predio" nillable="true" type="xsd:string"/>
                      <xsd:element name="cod_andar" nillable="true" type="xsd:string"/>
                      <xsd:element name="nom_empresa" nillable="true" type="xsd:string"/>
                      <xsd:element name="cdn_funcao" nillable="true" type="xsd:int"/>
                      <xsd:element name="nom_funcao" nillable="true" type="xsd:string"/>
                      <xsd:element name="cod_lotacao" nillable="true" type="xsd:string"/>
                      <xsd:element name="nom_lotacao" nillable="true" type="xsd:string"/>
                      <xsd:element name="cod_registro" nillable="true" type="xsd:string"/>
                      <xsd:element name="nom_vinculo" nillable="true" type="xsd:string"/>
                      <xsd:element name="cdn_disciplina" nillable="true" type="xsd:int"/>
                      <xsd:element name="nom_disciplina" nillable="true" type="xsd:string"/>
                      <xsd:element name="nom_email" nillable="true" type="xsd:string"/>
                      <xsd:element name="cdn_func_superior" nillable="true" type="xsd:string"/>
                      <xsd:element name="dat_admis_func" nillable="true" type="xsd:string"/>
                      <xsd:element name="dat_deslig_func" nillable="true" type="xsd:string"/>
                      <xsd:element name="dat_nascimento" nillable="true" type="xsd:string"/>
                      <xsd:element name="cod_banco" nillable="true" type="xsd:string"/>
                      <xsd:element name="cod_bco_agencia" nillable="true" type="xsd:string"/>
                      <xsd:element name="cod_bco_conta" nillable="true" type="xsd:string"/>
                      <xsd:element name="nom_unidade" nillable="true" type="xsd:string"/>
                      <xsd:element name="cod_cnpj_empresa" nillable="true" type="xsd:string"/>
                      <xsd:element name="cdn_jornada" nillable="true" type="xsd:int"/>
                      <xsd:element name="des_jornada" nillable="true" type="xsd:string"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
        </xsd:schema>
    <xsd:schema xmlns="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:element name="ZFFVXI_009_V02.Response"/>
    </xsd:schema>
    <xsd:schema xmlns="urn:totvs:ws1:logicalis:ColaboradoresService" xmlns:p8="http://promon.com.br/Colaboradores" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:totvs:ws1:logicalis:ColaboradoresService">
      <xsd:import namespace="http://promon.com.br/Colaboradores"/>
      <xsd:element name="buscaTodosColaboradoresResponse" type="p8:buscaTodosColaboradoresResponse"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="buscaTodosColaboradoresResponse">
    <wsdl:documentation/>
    <wsdl:part element="p2:buscaTodosColaboradoresResponse" name="buscaTodosColaboradoresResponse"/>
  </wsdl:message>
  <wsdl:message name="rfc.ZFFVXI_009_V02.Output">
    <wsdl:documentation/>
    <wsdl:part element="rfc:ZFFVXI_009_V02.Response" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="SendToECC">
    <wsdl:documentation/>
    <wsdl:operation name="SendToECC">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SendToECC"/>
      </wsp:Policy>
      <wsdl:input message="p1:buscaTodosColaboradoresResponse"/>
      <wsdl:output message="p1:rfc.ZFFVXI_009_V02.Output"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SendToECCBinding" type="p1:SendToECC">
    <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SendToECC">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
