promon.com.br/rd/_comp/src/wsdl/SI_FPPSServicoEnviarFuncionarios.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:p1="http://promon.com.br/FundacaoEnviarFuncionarios" xmlns:p2="http://promon.com.br/FundacaoEnviarFuncionariosResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="SI_FPPSServicoEnviarFuncionarios" targetNamespace="http://promon.com.br/FundacaoEnviarFuncionarios">
  <wsdl:documentation/>
  <wsp:UsingPolicy wsdl:required="true"/>
  <ifw:properties xmlns:ifw="urn:com-sap:ifr:v2:wsdl">
    <ifw:category>ifmmessif</ifw:category>
    <ifw:VersionID>7a7a3413967b11e7be800000006543a2</ifw:VersionID>
    <ifw:lifeCycleInfo>
      <objectState/>
      <objectstatus value="A"/>
      <personresponsible value="egushiken"/>
      <changed by="egushiken" on="1505084506625"/>
    </ifw:lifeCycleInfo>
    <ifw:runtimeVersion uri="urn:sap-com:soap:runtime:application:client"/>
    <ifw:communicationProfile uri="prf_dt_if_com_stateless"/>
    <ifw:securityProfile uri="prf_dt_if_sec_basic"/>
    <ifw:interfacePattern p2p="true"/>
    <ifw:isSensitiveData>false</ifw:isSensitiveData>
    <ifw:classifications>
      <ifw:classification name="ObjectType" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-type" valueCode="ifmmessif"/>
      <ifw:classification name="ObjectID" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-id" valueCode="b88b792fa7973b76b3207fbd9e66edf7"/>
    </ifw:classifications>
    <ifw:additionalAttributes/>
    <ifw:methods>
      <ifw:method name="SI_FPPSServicoEnviarFuncionarios">
        <ifw:isSynchron>true</ifw:isSynchron>
        <ifw:isIdempotent>false</ifw:isIdempotent>
        <ifw:isInbound>false</ifw:isInbound>
        <ifw:interfaceCategory>outbound</ifw:interfaceCategory>
        <ifw:communicationProfile uri="prf_dt_op_com_sync"/>
        <ifw:contextobjects/>
      </ifw:method>
    </ifw:methods>
    <ifw:messages>
      <ifw:message name="MT_FPPSServicoEnviarFuncionariosRequest">
        <ifw:messType>ifmmessage</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">MT_FPPSServicoEnviarFuncionariosRequest</ifw:elem>
          <ifw:elem id="NAMESPACE">http://promon.com.br/FundacaoEnviarFuncionarios</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>http://promon.com.br/FundacaoEnviarFuncionarios</ifw:technicalNamespace>
        <ifw:VersionID>a2190c0b967a11e7a59e0000006543a2</ifw:VersionID>
        <ifw:xmlNamespace>http://promon.com.br/FundacaoEnviarFuncionarios</ifw:xmlNamespace>
        <ifw:dataType name="FPPSServicoEnviarFuncionarios" namespace="http://promon.com.br/FundacaoEnviarFuncionarios" swcvId="4183bc706c7711e7c6a0c72b0a37be44" uri="name=FPPSServicoEnviarFuncionarios~namespace=http://promon.com.br/FundacaoEnviarFuncionarios~swcvId=4183bc706c7711e7c6a0c72b0a37be44"/>
      </ifw:message>
      <ifw:message name="MT_FPPSServicoEnviarFuncionariosResponse">
        <ifw:messType>ifmmessage</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">MT_FPPSServicoEnviarFuncionariosResponse</ifw:elem>
          <ifw:elem id="NAMESPACE">http://promon.com.br/FundacaoEnviarFuncionarios</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>http://promon.com.br/FundacaoEnviarFuncionarios</ifw:technicalNamespace>
        <ifw:VersionID>b7d90036967a11e7c56d0000006543a2</ifw:VersionID>
        <ifw:xmlNamespace>http://promon.com.br/FundacaoEnviarFuncionariosResponse</ifw:xmlNamespace>
        <ifw:dataType name="FPPSServicoEnviarFuncionariosResponse" namespace="http://promon.com.br/FundacaoEnviarFuncionariosResponse" swcvId="4183bc706c7711e7c6a0c72b0a37be44" uri="name=FPPSServicoEnviarFuncionariosResponse~namespace=http://promon.com.br/FundacaoEnviarFuncionariosResponse~swcvId=4183bc706c7711e7c6a0c72b0a37be44"/>
      </ifw:message>
    </ifw:messages>
    <ifw:matchingInterfaces/>
    <ifw:genericProperties>
      <ifw:swcvinfo>
        <ifw:guid>4183bc706c7711e7c6a0c72b0a37be44</ifw:guid>
        <ifw:name>FUNDACAO, 2.0 of promon.com.br</ifw:name>
      </ifw:swcvinfo>
      <ifw:languages>
        <ifw:language internalCode="EN" original="true"/>
      </ifw:languages>
      <ifw:documentation type="I">
        <name>_ID_b88b792fa7973b76b3207fbd9e66edf7_ifmmessif</name>
        <namespace>http://promon.com.br/FundacaoEnviarFuncionarios</namespace>
      </ifw:documentation>
    </ifw:genericProperties>
  </ifw:properties>
  <wsp:Policy wsu:Id="OP_SI_FPPSServicoEnviarFuncionarios"/>
  <wsdl:types>
    <xsd:schema xmlns="http://promon.com.br/FundacaoEnviarFuncionariosResponse" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://promon.com.br/FundacaoEnviarFuncionariosResponse">
      <xsd:element name="MT_FPPSServicoEnviarFuncionariosResponse" type="FPPSServicoEnviarFuncionariosResponse"/>
      <xsd:complexType name="FPPSServicoEnviarFuncionariosResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="EnviarFuncionariosResult" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://promon.com.br/FundacaoEnviarFuncionarios" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://promon.com.br/FundacaoEnviarFuncionarios">
      <xsd:element name="MT_FPPSServicoEnviarFuncionariosRequest" type="FPPSServicoEnviarFuncionarios"/>
      <xsd:complexType name="FPPSServicoEnviarFuncionarios">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="UsuarioWS" type="xsd:string"/>
          <xsd:element minOccurs="0" name="SenhaWS" type="xsd:string"/>
          <xsd:element minOccurs="0" name="dadosFuncionariosCSV" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_FPPSServicoEnviarFuncionariosRequest">
    <wsdl:documentation/>
    <wsdl:part element="p1:MT_FPPSServicoEnviarFuncionariosRequest" name="MT_FPPSServicoEnviarFuncionariosRequest"/>
  </wsdl:message>
  <wsdl:message name="MT_FPPSServicoEnviarFuncionariosResponse">
    <wsdl:documentation/>
    <wsdl:part element="p2:MT_FPPSServicoEnviarFuncionariosResponse" name="MT_FPPSServicoEnviarFuncionariosResponse"/>
  </wsdl:message>
  <wsdl:portType name="SI_FPPSServicoEnviarFuncionarios">
    <wsdl:documentation/>
    <wsdl:operation name="SI_FPPSServicoEnviarFuncionarios">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_FPPSServicoEnviarFuncionarios"/>
      </wsp:Policy>
      <wsdl:input message="p1:MT_FPPSServicoEnviarFuncionariosRequest"/>
      <wsdl:output message="p1:MT_FPPSServicoEnviarFuncionariosResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_FPPSServicoEnviarFuncionariosBinding" type="p1:SI_FPPSServicoEnviarFuncionarios">
    <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SI_FPPSServicoEnviarFuncionarios">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
