promon.com.br/rd/_comp/src/wsdl/SI_FPPSServicoHistSituacao.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:p1="http://promon.com.br/FundacaoEnviarHistSituacao" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="SI_FPPSServicoHistSituacao" targetNamespace="http://promon.com.br/FundacaoEnviarHistSituacao">
  <wsdl:documentation/>
  <wsp:UsingPolicy wsdl:required="true"/>
  <ifw:properties xmlns:ifw="urn:com-sap:ifr:v2:wsdl">
    <ifw:category>ifmmessif</ifw:category>
    <ifw:VersionID>9dd4868cdf9f11e78cd10000006543a2</ifw:VersionID>
    <ifw:lifeCycleInfo>
      <objectState/>
      <objectstatus value="A"/>
      <personresponsible value="egushiken"/>
      <changed by="egushiken" on="1513126297070"/>
    </ifw:lifeCycleInfo>
    <ifw:runtimeVersion uri="urn:sap-com:soap:runtime:application:client"/>
    <ifw:communicationProfile uri="prf_dt_if_com_stateless"/>
    <ifw:securityProfile uri="prf_dt_if_sec_basic"/>
    <ifw:interfacePattern p2p="true"/>
    <ifw:isSensitiveData>false</ifw:isSensitiveData>
    <ifw:classifications>
      <ifw:classification name="ObjectType" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-type" valueCode="ifmmessif"/>
      <ifw:classification name="ObjectID" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-id" valueCode="08b07bce06b93418ba038f5cb2922351"/>
    </ifw:classifications>
    <ifw:additionalAttributes/>
    <ifw:methods>
      <ifw:method name="SI_FPPSServicoHistSituacao">
        <ifw:isSynchron>true</ifw:isSynchron>
        <ifw:isIdempotent>false</ifw:isIdempotent>
        <ifw:isInbound>false</ifw:isInbound>
        <ifw:interfaceCategory>outbound</ifw:interfaceCategory>
        <ifw:communicationProfile uri="prf_dt_op_com_sync"/>
        <ifw:contextobjects/>
      </ifw:method>
    </ifw:methods>
    <ifw:messages>
      <ifw:message name="MT_FPPSWSAEnviarHistSituacaoResponse">
        <ifw:messType>ifmmessage</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">MT_FPPSWSAEnviarHistSituacaoResponse</ifw:elem>
          <ifw:elem id="NAMESPACE">http://promon.com.br/FundacaoEnviarHistSituacao</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>http://promon.com.br/FundacaoEnviarHistSituacao</ifw:technicalNamespace>
        <ifw:VersionID>d06534e0cee511e781e00000006543a2</ifw:VersionID>
        <ifw:xmlNamespace>http://promon.com.br/FundacaoEnviarHistSituacao</ifw:xmlNamespace>
        <ifw:dataType name="FPPSServicoEnviarHistSituacaoResponse" namespace="http://promon.com.br/FundacaoEnviarHistSituacao" swcvId="4183bc706c7711e7c6a0c72b0a37be44" uri="name=FPPSServicoEnviarHistSituacaoResponse~namespace=http://promon.com.br/FundacaoEnviarHistSituacao~swcvId=4183bc706c7711e7c6a0c72b0a37be44"/>
      </ifw:message>
      <ifw:message name="MT_FPPSWSAEnviarHistSituacaoRequest">
        <ifw:messType>ifmmessage</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">MT_FPPSWSAEnviarHistSituacaoRequest</ifw:elem>
          <ifw:elem id="NAMESPACE">http://promon.com.br/FundacaoEnviarHistSituacao</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>http://promon.com.br/FundacaoEnviarHistSituacao</ifw:technicalNamespace>
        <ifw:VersionID>add73189c64411e7883f0000006543a2</ifw:VersionID>
        <ifw:xmlNamespace>http://promon.com.br/FundacaoEnviarHistSituacao</ifw:xmlNamespace>
        <ifw:dataType name="FPPSServicoEnviarHistSituacao" namespace="http://promon.com.br/FundacaoEnviarHistSituacao" swcvId="4183bc706c7711e7c6a0c72b0a37be44" uri="name=FPPSServicoEnviarHistSituacao~namespace=http://promon.com.br/FundacaoEnviarHistSituacao~swcvId=4183bc706c7711e7c6a0c72b0a37be44"/>
      </ifw:message>
    </ifw:messages>
    <ifw:matchingInterfaces/>
    <ifw:genericProperties>
      <ifw:swcvinfo>
        <ifw:guid>4183bc706c7711e7c6a0c72b0a37be44</ifw:guid>
        <ifw:name>FUNDACAO, 2.0 of promon.com.br</ifw:name>
      </ifw:swcvinfo>
      <ifw:languages>
        <ifw:language internalCode="EN" original="true"/>
      </ifw:languages>
      <ifw:documentation type="I">
        <name>_ID_08b07bce06b93418ba038f5cb2922351_ifmmessif</name>
        <namespace>http://promon.com.br/FundacaoEnviarHistSituacao</namespace>
      </ifw:documentation>
    </ifw:genericProperties>
  </ifw:properties>
  <wsp:Policy wsu:Id="OP_SI_FPPSServicoHistSituacao"/>
  <wsdl:types>
    <xsd:schema xmlns="http://promon.com.br/FundacaoEnviarHistSituacao" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://promon.com.br/FundacaoEnviarHistSituacao">
      <xsd:element name="MT_FPPSWSAEnviarHistSituacaoRequest" type="FPPSServicoEnviarHistSituacao"/>
      <xsd:element name="MT_FPPSWSAEnviarHistSituacaoResponse" type="FPPSServicoEnviarHistSituacaoResponse"/>
      <xsd:complexType name="FPPSServicoEnviarHistSituacao">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="UsuarioWS" type="xsd:string"/>
          <xsd:element minOccurs="0" name="SenhaWS" type="xsd:string"/>
          <xsd:element minOccurs="0" name="dadosFuncionariosCSV" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FPPSServicoEnviarHistSituacaoResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="EnviarHistSituacaoResult" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_FPPSWSAEnviarHistSituacaoRequest">
    <wsdl:documentation/>
    <wsdl:part element="p1:MT_FPPSWSAEnviarHistSituacaoRequest" name="MT_FPPSWSAEnviarHistSituacaoRequest"/>
  </wsdl:message>
  <wsdl:message name="MT_FPPSWSAEnviarHistSituacaoResponse">
    <wsdl:documentation/>
    <wsdl:part element="p1:MT_FPPSWSAEnviarHistSituacaoResponse" name="MT_FPPSWSAEnviarHistSituacaoResponse"/>
  </wsdl:message>
  <wsdl:portType name="SI_FPPSServicoHistSituacao">
    <wsdl:documentation/>
    <wsdl:operation name="SI_FPPSServicoHistSituacao">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_FPPSServicoHistSituacao"/>
      </wsp:Policy>
      <wsdl:input message="p1:MT_FPPSWSAEnviarHistSituacaoRequest"/>
      <wsdl:output message="p1:MT_FPPSWSAEnviarHistSituacaoResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_FPPSServicoHistSituacaoBinding" type="p1:SI_FPPSServicoHistSituacao">
    <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SI_FPPSServicoHistSituacao">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
