promon.com.br/rd/_comp/src/wsdl/SI_RDPagtoFolhaProfissionais.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:p1="http://promon.com.br/70/FI/FP069/pagtoFolhaProfissionais" xmlns:p2="urn:totvs:ws1:logicalis:ColaboradoresService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="SI_RDPagtoFolhaProfissionais" targetNamespace="http://promon.com.br/70/FI/FP069/pagtoFolhaProfissionais">
  <wsdl:documentation/>
  <wsp:UsingPolicy wsdl:required="true"/>
  <ifw:properties xmlns:ifw="urn:com-sap:ifr:v2:wsdl">
    <ifw:category>ifmmessif</ifw:category>
    <ifw:VersionID>b085e18e11ea11e886c70000006543a2</ifw:VersionID>
    <ifw:lifeCycleInfo>
      <objectState/>
      <objectstatus value="A"/>
      <personresponsible value="egushiken"/>
      <changed by="egushiken" on="1518656064808"/>
    </ifw:lifeCycleInfo>
    <ifw:runtimeVersion uri="urn:sap-com:soap:application:esr:client:710"/>
    <ifw:communicationProfile uri="prf_dt_if_com_stateless"/>
    <ifw:securityProfile uri="prf_dt_if_sec_low"/>
    <ifw:interfacePattern p2p="false">L</ifw:interfacePattern>
    <ifw:isSensitiveData>false</ifw:isSensitiveData>
    <ifw:classifications>
      <ifw:classification name="ObjectType" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-type" valueCode="ifmmessif"/>
      <ifw:classification name="ObjectID" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-id" valueCode="a615e0f403483bacb8a43c907ae10376"/>
    </ifw:classifications>
    <ifw:additionalAttributes/>
    <ifw:methods>
      <ifw:method name="SI_RDPagtoFolhaProfissionais">
        <ifw:isSynchron>true</ifw:isSynchron>
        <ifw:isIdempotent>false</ifw:isIdempotent>
        <ifw:isInbound>false</ifw:isInbound>
        <ifw:interfaceCategory>outbound</ifw:interfaceCategory>
        <ifw:communicationProfile uri="prf_dt_op_com_sync"/>
        <ifw:lifeCycleInfo>
          <objectState/>
        </ifw:lifeCycleInfo>
        <ifw:contextobjects/>
      </ifw:method>
    </ifw:methods>
    <ifw:messages>
      <ifw:message name="pagtoFolhaProfissionais">
        <ifw:messType>ifmmessage</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">pagtoFolhaProfissionais</ifw:elem>
          <ifw:elem id="NAMESPACE">http://promon.com.br/70/FI/FP069/pagtoFolhaProfissionais</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>http://promon.com.br/70/FI/FP069/pagtoFolhaProfissionais</ifw:technicalNamespace>
        <ifw:VersionID>4d474d1d0da811e8806a0000006543a2</ifw:VersionID>
        <ifw:xmlNamespace>urn:totvs:ws1:logicalis:ColaboradoresService</ifw:xmlNamespace>
        <ifw:dataType name="pagtoFolhaProfissionais" namespace="http://promon.com.br/70/FI/FP069/pagtoFolhaProfissionais" swcvId="5910b6a0a67911e69345ef270ae80122" uri="name=pagtoFolhaProfissionais~namespace=http://promon.com.br/70/FI/FP069/pagtoFolhaProfissionais~swcvId=5910b6a0a67911e69345ef270ae80122"/>
      </ifw:message>
      <ifw:message name="MT_ZFFPXI_069_V02">
        <ifw:messType>ifmmessage</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">MT_ZFFPXI_069_V02</ifw:elem>
          <ifw:elem id="NAMESPACE">http://promon.com.br/70/FI/FP069/pagtoFolhaProfissionais</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>http://promon.com.br/70/FI/FP069/pagtoFolhaProfissionais</ifw:technicalNamespace>
        <ifw:VersionID>d85cd645119b11e8bb560000006543a2</ifw:VersionID>
        <ifw:xmlNamespace>urn:totvs:ws1:logicalis:ColaboradoresService</ifw:xmlNamespace>
        <ifw:dataType name="ZFFPXI_069_V02" namespace="http://promon.com.br/70/FI/FP069/pagtoFolhaProfissionais" swcvId="5910b6a0a67911e69345ef270ae80122" uri="name=ZFFPXI_069_V02~namespace=http://promon.com.br/70/FI/FP069/pagtoFolhaProfissionais~swcvId=5910b6a0a67911e69345ef270ae80122"/>
      </ifw:message>
    </ifw:messages>
    <ifw:matchingInterfaces/>
    <ifw:genericProperties>
      <ifw:swcvinfo>
        <ifw:guid>5910b6a0a67911e69345ef270ae80122</ifw:guid>
        <ifw:name>RD, 2.0 of promon.com.br</ifw:name>
      </ifw:swcvinfo>
      <ifw:languages>
        <ifw:language internalCode="EN" original="true"/>
      </ifw:languages>
      <ifw:documentation type="I">
        <name>_ID_a615e0f403483bacb8a43c907ae10376_ifmmessif</name>
        <namespace>http://promon.com.br/70/FI/FP069/pagtoFolhaProfissionais</namespace>
      </ifw:documentation>
    </ifw:genericProperties>
  </ifw:properties>
  <wsp:Policy wsu:Id="OP_SI_RDPagtoFolhaProfissionais"/>
  <wsdl:types>
    <xsd:schema xmlns="http://promon.com.br/70/FI/FP069/pagtoFolhaProfissionais" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://promon.com.br/70/FI/FP069/pagtoFolhaProfissionais">
      <xsd:complexType name="ZFFPXI_069_V02">
        <xsd:sequence>
          <xsd:element name="ITENS">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="item">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="0" name="ZLEGA" type="xsd:string"/>
                      <xsd:element minOccurs="0" name="ZOPER" type="xsd:string"/>
                      <xsd:element minOccurs="0" name="ZSEQU" type="xsd:string"/>
                      <xsd:element minOccurs="0" name="ZBUKRS" type="xsd:string"/>
                      <xsd:element minOccurs="0" name="ZUSNAM1" type="xsd:string"/>
                      <xsd:element minOccurs="0" name="ZINPUT1" type="xsd:date"/>
                      <xsd:element minOccurs="0" name="ZHRINP1" type="xsd:time"/>
                      <xsd:element minOccurs="0" name="ZLCTO" type="xsd:date"/>
                      <xsd:element minOccurs="0" name="ZMONAT" type="xsd:string"/>
                      <xsd:element minOccurs="0" name="ZBCF" type="xsd:string"/>
                      <xsd:element minOccurs="0" name="ZAGF" type="xsd:string"/>
                      <xsd:element minOccurs="0" name="ZCCF" type="xsd:string"/>
                      <xsd:element minOccurs="0" name="ZNAME" type="xsd:string"/>
                      <xsd:element minOccurs="0" name="ZCPF" type="xsd:string"/>
                      <xsd:element minOccurs="0" name="ZCNPJ" type="xsd:string"/>
                      <xsd:element minOccurs="0" name="ZCURK" type="xsd:string"/>
                      <xsd:element minOccurs="0" name="ZREFA" type="xsd:string"/>
                      <xsd:element minOccurs="0" name="ZDMBTR" type="xsd:string"/>
                      <xsd:element minOccurs="0" name="ZDEUDT" type="xsd:date"/>
                      <xsd:element minOccurs="0" name="ZPOSID" type="xsd:string"/>
                      <xsd:element minOccurs="0" name="ZKOSTL" type="xsd:string"/>
                      <xsd:element minOccurs="0" name="ZAUFNR" type="xsd:string"/>
                      <xsd:element minOccurs="0" name="ZEMP_LEGADO" type="xsd:string"/>
                      <xsd:element minOccurs="0" name="ZCPF_LEGADO" type="xsd:string"/>
                      <xsd:element minOccurs="0" name="STATUS" type="xsd:string"/>
                      <xsd:element minOccurs="0" name="MSG" type="xsd:string"/>
                      <xsd:element minOccurs="0" name="WS" type="xsd:string"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="pagtoFolhaProfissionais">
        <xsd:sequence>
          <xsd:element name="num_mes_ref" type="xsd:int"/>
          <xsd:element name="num_ano_ref" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="urn:totvs:ws1:logicalis:ColaboradoresService" xmlns:p4="http://promon.com.br/70/FI/FP069/pagtoFolhaProfissionais" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:totvs:ws1:logicalis:ColaboradoresService">
      <xsd:import namespace="http://promon.com.br/70/FI/FP069/pagtoFolhaProfissionais"/>
      <xsd:element name="MT_ZFFPXI_069_V02" type="p4:ZFFPXI_069_V02"/>
      <xsd:element name="pagtoFolhaProfissionais" type="p4:pagtoFolhaProfissionais"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="pagtoFolhaProfissionais">
    <wsdl:documentation/>
    <wsdl:part element="p2:pagtoFolhaProfissionais" name="pagtoFolhaProfissionais"/>
  </wsdl:message>
  <wsdl:message name="MT_ZFFPXI_069_V02">
    <wsdl:documentation/>
    <wsdl:part element="p2:MT_ZFFPXI_069_V02" name="MT_ZFFPXI_069_V02"/>
  </wsdl:message>
  <wsdl:portType name="SI_RDPagtoFolhaProfissionais">
    <wsdl:documentation/>
    <wsdl:operation name="SI_RDPagtoFolhaProfissionais">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_RDPagtoFolhaProfissionais"/>
      </wsp:Policy>
      <wsdl:input message="p1:pagtoFolhaProfissionais"/>
      <wsdl:output message="p1:MT_ZFFPXI_069_V02"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_RDPagtoFolhaProfissionaisBinding" type="p1:SI_RDPagtoFolhaProfissionais">
    <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SI_RDPagtoFolhaProfissionais">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
