promon.com.br/rd/_comp/src/wsdl/SI_SendToECCPagtoFolhaProfissionais.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:p1="http://promon.com.br/70/FI/FP069/pagtoFolhaProfissionais" xmlns:p2="urn:totvs:ws1:logicalis:ColaboradoresService" xmlns:rfc="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="SI_SendToECCPagtoFolhaProfissionais" targetNamespace="http://promon.com.br/70/FI/FP069/pagtoFolhaProfissionais">
  <wsdl:documentation/>
  <wsp:UsingPolicy wsdl:required="true"/>
  <ifw:properties xmlns:ifw="urn:com-sap:ifr:v2:wsdl">
    <ifw:category>ifmmessif</ifw:category>
    <ifw:VersionID>6fbdb5322efe11e8bd5f0000006543a2</ifw:VersionID>
    <ifw:lifeCycleInfo>
      <objectState/>
      <objectstatus value="A"/>
      <personresponsible value="egushiken"/>
      <changed by="egushiken" on="1521853112806"/>
    </ifw:lifeCycleInfo>
    <ifw:runtimeVersion uri="urn:sap-com:soap:application:esr:client:710"/>
    <ifw:communicationProfile uri="prf_dt_if_com_stateless"/>
    <ifw:securityProfile uri="prf_dt_if_sec_low"/>
    <ifw:interfacePattern p2p="false">L</ifw:interfacePattern>
    <ifw:isSensitiveData>false</ifw:isSensitiveData>
    <ifw:classifications>
      <ifw:classification name="ObjectType" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-type" valueCode="ifmmessif"/>
      <ifw:classification name="ObjectID" namespace="http://uddi.sap.com/classification" uddikey="uddi:uddi.sap.com:categorization:object-id" valueCode="55c8066fa99c3a9d8750f709dc8fc46b"/>
    </ifw:classifications>
    <ifw:additionalAttributes/>
    <ifw:methods>
      <ifw:method name="SI_SendToECCPagtoFolhaProfissionais">
        <ifw:isSynchron>true</ifw:isSynchron>
        <ifw:isIdempotent>false</ifw:isIdempotent>
        <ifw:isInbound>false</ifw:isInbound>
        <ifw:interfaceCategory>outbound</ifw:interfaceCategory>
        <ifw:communicationProfile uri="prf_dt_op_com_sync"/>
        <ifw:lifeCycleInfo>
          <objectState/>
        </ifw:lifeCycleInfo>
        <ifw:contextobjects/>
      </ifw:method>
    </ifw:methods>
    <ifw:messages>
      <ifw:message name="rfc.ZFFPXI_069_V02.Output">
        <ifw:messType>rfcmsg</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">ZFFPXI_069_V02</ifw:elem>
          <ifw:elem id="NAMESPACE">urn:sap-com:document:sap:rfc:functions</ifw:elem>
          <ifw:elem id="SUBNAME">ZFFPXI_069_V02.Response</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>urn:sap-com:document:sap:rfc:functions</ifw:technicalNamespace>
        <ifw:VersionID>d833866c0da311e8a11d0000006543a2</ifw:VersionID>
      </ifw:message>
      <ifw:message name="MT_ZFFPXI_069_V02">
        <ifw:messType>ifmmessage</ifw:messType>
        <ifw:keyElements>
          <ifw:elem id="NAME">MT_ZFFPXI_069_V02</ifw:elem>
          <ifw:elem id="NAMESPACE">http://promon.com.br/70/FI/FP069/pagtoFolhaProfissionais</ifw:elem>
        </ifw:keyElements>
        <ifw:technicalNamespace>http://promon.com.br/70/FI/FP069/pagtoFolhaProfissionais</ifw:technicalNamespace>
        <ifw:VersionID>d85cd645119b11e8bb560000006543a2</ifw:VersionID>
        <ifw:xmlNamespace>urn:totvs:ws1:logicalis:ColaboradoresService</ifw:xmlNamespace>
        <ifw:dataType name="ZFFPXI_069_V02" namespace="http://promon.com.br/70/FI/FP069/pagtoFolhaProfissionais" swcvId="5910b6a0a67911e69345ef270ae80122" uri="name=ZFFPXI_069_V02~namespace=http://promon.com.br/70/FI/FP069/pagtoFolhaProfissionais~swcvId=5910b6a0a67911e69345ef270ae80122"/>
      </ifw:message>
    </ifw:messages>
    <ifw:matchingInterfaces/>
    <ifw:genericProperties>
      <ifw:swcvinfo>
        <ifw:guid>5910b6a0a67911e69345ef270ae80122</ifw:guid>
        <ifw:name>RD, 2.0 of promon.com.br</ifw:name>
      </ifw:swcvinfo>
      <ifw:languages>
        <ifw:language internalCode="EN" original="true"/>
      </ifw:languages>
      <ifw:documentation type="I">
        <name>_ID_55c8066fa99c3a9d8750f709dc8fc46b_ifmmessif</name>
        <namespace>http://promon.com.br/70/FI/FP069/pagtoFolhaProfissionais</namespace>
      </ifw:documentation>
    </ifw:genericProperties>
  </ifw:properties>
  <wsp:Policy wsu:Id="OP_SI_SendToECCPagtoFolhaProfissionais"/>
  <wsdl:types>
    <xsd:schema xmlns="http://promon.com.br/70/FI/FP069/pagtoFolhaProfissionais" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://promon.com.br/70/FI/FP069/pagtoFolhaProfissionais">
      <xsd:complexType name="ZFFPXI_069_V02">
        <xsd:sequence>
          <xsd:element name="ITENS">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="item">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="0" name="ZLEGA" type="xsd:string"/>
                      <xsd:element minOccurs="0" name="ZOPER" type="xsd:string"/>
                      <xsd:element minOccurs="0" name="ZSEQU" type="xsd:string"/>
                      <xsd:element minOccurs="0" name="ZBUKRS" type="xsd:string"/>
                      <xsd:element minOccurs="0" name="ZUSNAM1" type="xsd:string"/>
                      <xsd:element minOccurs="0" name="ZINPUT1" type="xsd:date"/>
                      <xsd:element minOccurs="0" name="ZHRINP1" type="xsd:time"/>
                      <xsd:element minOccurs="0" name="ZLCTO" type="xsd:date"/>
                      <xsd:element minOccurs="0" name="ZMONAT" type="xsd:string"/>
                      <xsd:element minOccurs="0" name="ZBCF" type="xsd:string"/>
                      <xsd:element minOccurs="0" name="ZAGF" type="xsd:string"/>
                      <xsd:element minOccurs="0" name="ZCCF" type="xsd:string"/>
                      <xsd:element minOccurs="0" name="ZNAME" type="xsd:string"/>
                      <xsd:element minOccurs="0" name="ZCPF" type="xsd:string"/>
                      <xsd:element minOccurs="0" name="ZCNPJ" type="xsd:string"/>
                      <xsd:element minOccurs="0" name="ZCURK" type="xsd:string"/>
                      <xsd:element minOccurs="0" name="ZREFA" type="xsd:string"/>
                      <xsd:element minOccurs="0" name="ZDMBTR" type="xsd:string"/>
                      <xsd:element minOccurs="0" name="ZDEUDT" type="xsd:date"/>
                      <xsd:element minOccurs="0" name="ZPOSID" type="xsd:string"/>
                      <xsd:element minOccurs="0" name="ZKOSTL" type="xsd:string"/>
                      <xsd:element minOccurs="0" name="ZAUFNR" type="xsd:string"/>
                      <xsd:element minOccurs="0" name="ZEMP_LEGADO" type="xsd:string"/>
                      <xsd:element minOccurs="0" name="ZCPF_LEGADO" type="xsd:string"/>
                      <xsd:element minOccurs="0" name="STATUS" type="xsd:string"/>
                      <xsd:element minOccurs="0" name="MSG" type="xsd:string"/>
                      <xsd:element minOccurs="0" name="WS" type="xsd:string"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:element name="ZFFPXI_069_V02.Response">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="ITENS">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="ZSTFPXI_069"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="RETURN">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="ZSTFPXI_069"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:simpleType name="time">
        <xsd:union memberTypes="xsd:time genericTime"/>
      </xsd:simpleType>
      <xsd:simpleType name="date">
        <xsd:union memberTypes="xsd:date genericDate"/>
      </xsd:simpleType>
      <xsd:simpleType name="genericDate">
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="....-..-.."/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="genericTime">
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="..:..:.."/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ZSTFPXI_069">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ZLEGA">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="18"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZOPER">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="18"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZSEQU">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
                <xsd:pattern value="\d+"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZBUKRS">
            <xsd:annotation>
              <xsd:documentation>Company Code</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZUSNAM1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="12"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZINPUT1" type="date"/>
          <xsd:element minOccurs="0" name="ZHRINP1" type="time"/>
          <xsd:element minOccurs="0" name="ZLCTO" type="date"/>
          <xsd:element minOccurs="0" name="ZMONAT">
            <xsd:annotation>
              <xsd:documentation>Calendar month</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
                <xsd:pattern value="\d+"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZBCF">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZAGF">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZCCF">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZNAME">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZCPF">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="11"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZCNPJ">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="14"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZCURK">
            <xsd:annotation>
              <xsd:documentation>Currency Key</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="5"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZREFA">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZDMBTR">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="400"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZDEUDT" type="date"/>
          <xsd:element minOccurs="0" name="ZPOSID">
            <xsd:annotation>
              <xsd:documentation>Work Breakdown Structure Element (WBS Element)</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="24"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZKOSTL">
            <xsd:annotation>
              <xsd:documentation>Cost Center</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZAUFNR">
            <xsd:annotation>
              <xsd:documentation>Order Number</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="12"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZEMP_LEGADO">
            <xsd:annotation>
              <xsd:documentation>CHAR08</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="8"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ZCPF_LEGADO">
            <xsd:annotation>
              <xsd:documentation>Character Field with Length 5</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="5"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="STATUS">
            <xsd:annotation>
              <xsd:documentation>Version Number Component</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MSG">
            <xsd:annotation>
              <xsd:documentation>Comment</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="WS">
            <xsd:annotation>
              <xsd:documentation>Single-Character Indicator</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="urn:totvs:ws1:logicalis:ColaboradoresService" xmlns:p4="http://promon.com.br/70/FI/FP069/pagtoFolhaProfissionais" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:totvs:ws1:logicalis:ColaboradoresService">
      <xsd:import namespace="http://promon.com.br/70/FI/FP069/pagtoFolhaProfissionais"/>
      <xsd:element name="MT_ZFFPXI_069_V02" type="p4:ZFFPXI_069_V02"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_ZFFPXI_069_V02">
    <wsdl:documentation/>
    <wsdl:part element="p2:MT_ZFFPXI_069_V02" name="MT_ZFFPXI_069_V02"/>
  </wsdl:message>
  <wsdl:message name="rfc.ZFFPXI_069_V02.Output">
    <wsdl:documentation/>
    <wsdl:part element="rfc:ZFFPXI_069_V02.Response" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="SI_SendToECCPagtoFolhaProfissionais">
    <wsdl:documentation/>
    <wsdl:operation name="SI_SendToECCPagtoFolhaProfissionais">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_SendToECCPagtoFolhaProfissionais"/>
      </wsp:Policy>
      <wsdl:input message="p1:MT_ZFFPXI_069_V02"/>
      <wsdl:output message="p1:rfc.ZFFPXI_069_V02.Output"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_SendToECCPagtoFolhaProfissionaisBinding" type="p1:SI_SendToECCPagtoFolhaProfissionais">
    <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SI_SendToECCPagtoFolhaProfissionais">
      <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
